@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
      font-family: "Zalando Sans Expanded", sans-serif;
       font-optical-sizing: auto;
       font-weight: 500;
       font-style: normal;
       color: #fff;
       font-size: 16px;
}

a {
    text-decoration: none;
}

.wrapper {
    background: #E21C34;
    background: linear-gradient(172deg, rgba(226, 28, 52, 1) 59%, rgba(80, 11, 40, 1) 100%);
    min-height: 100vh;
    width: 100%;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 800;
}
header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -10px;
}

header nav ul li:not(.active) :not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a {
    background: #fa9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #884600;
}

.hero {
    padding-bottom: 100px;
}

.hero--info {
    width: 700px;
    padding-top: 40px;
}

.hero--info h2 {
    color: #E21C34;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: Bold;
}

.hero--info p {
    font-weight: 600;
    line-height: 170%;
    margin: 20px 0;
}

.hero--info .btn {
    background: #fa9021;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: larger;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*games*/

.trending {
    padding-top: 50px;
}


.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all {
    color: #fff;
    background: #25211d;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}
